<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.wkq.ui">

    <application>
        <activity android:name=".IndicatorActivity" />
        <activity android:name=".UIActivity" />
        <activity android:name=".goods.GoodsDetailActivity" />
        <activity android:name=".goods.GoodsDetail2Activity" />
    </application>
</manifest>